# Thư mục thư viện cài đặt (Nặng, tự sinh bằng npm install)
node_modules/

# Thư mục chứa file .exe đóng gói (Được tải lên GitHub Releases)
dist/

# File tạm của hệ điều hành
.DS_Store
Thumbs.db
Desktop.ini

# File log lỗi npm
npm-debug.log*
*.log
